@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
*{
  padding: 0%;
  margin: 0%;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
  transition: all .2s ease-in-out;
}
h2{
  margin-top: 20px;
  text-align: center;
  animation-name: colory;
}

.input-field{
  display: flex;
  justify-content: center;
  
  margin-top: 30px;
}
.input-field input.nothin{
  width: 300px;
  padding: 10px;
}
input{
  padding: 10px;
}
.input-field button{
  padding: 10px 15px;
}

.display{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.fields{
  width: 370px;
  padding: 10px;
  background-color: beige;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  margin-top: 2px;
}
.fields button{
background-color: #c23c55;
box-shadow: 1px 1px 1px 1px #888888;
color: white;
border: none;
border-radius: 2px;
padding: 5px;
margin-left: 5px;
}
.fields button:hover{
  background-color: #9c142d;
  box-shadow: none;
}
.fields .update{
  background-color: rgb(40, 101, 186);
  transition: all .5s ease-in-out;
}
.fields .update:hover{
  background-color: rgb(39, 103, 198);
}